<nav class="navbar navbar-expand-lg bg-body-light border-bottom sticky-top">
  <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" 
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
         
          <a class="nav-link" href="/listings"> Explore</a>
          
         
        </div>

        <h1 class="Welcome"> <i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Welcome To Moin Khan's Air BNB </i>&nbsp;
          <i class="fa-solid fa-earth-americas"></i>
          <i class="fa-solid fa-plane"></i></h1>

        <div class="navbar-nav ms-auto">
          <a class="nav-link" href="/listings/new">Airbnb Your Home (create Listings)</a> 

          <% if (!currUser)  { %>
          <a class="nav-link"  href="/signup"><b>Sign up </b>/</a>
          <a class="nav-link" href="/login"><b> Login</b></a>

          <% } %> <% if (currUser)  { %>
          <a class="nav-link" href="/logout">Log out</a>
          <% } %>
         
        </div>
      </div>
    </div>
  </nav>